extends base

//- Item mixins parametr: contents, weight, status
//- contents - "с курой" etc., there isn't default value
//- weight - weight equal 2, 5 or default value "0,5"
//- status - set disabled if needs mark as "Out of stock"

block content
	.container
		.text-center
			h1.page-title Ты сегодня покормил кота?
		.large
			+item("с курой", 2)
		.small.large
			+item("с фуа-гра", 0.5, "disabled")
		.small.large
			+item("с рыбой", 5)