@import "normalize"

// NOTE! Packets order on the page, default values are from min to max
$order = (1 2 3)

// Colors variable
$bg = #f2f2f2
$default-color = #1698d9
$default-text-color = #666
$default-hover-color = #2ea8e6
$selected-color = #d91667
$selected-hover-color = #e62e7a
$disabled-color = #b3b3b3
$disabled-bottom-color = #ffff66

// Size  variables
$item-width = 320px
$max-container-width = 1200px
$gutter = 20px

@font-face
    font-family 'exo_2.0thin'
    src url('fonts/exo2.0-thin.eot')
    src url('fonts/exo2.0-thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo2.0-thin.woff2') format('woff2'),
         url('fonts/exo2.0-thin.woff') format('woff'),
         url('fonts/exo2.0-thin.ttf') format('truetype'),
         url('fonts/exo2.0-thin.svg#exo_2.0thin') format('svg')
    font-weight normal
    font-style normal

*
	box-sizing border-box
	&:before, &:after
		box-sizing border-box

html
	min-height 100vh
	background url(../images/bg.png) no-repeat center center fixed
	background-size cover
	font-family "Trebuchet MS", Helvetica, sans-serif
	font-size 14px
	line-height 1.42857

body
	height 100%
	height 100vh

.container
	margin-left auto
	margin-right auto
	display flex
	flex-wrap wrap
	align-items center
	align-content center
	justify-content space-around
	min-height 100% // Instead of height for good mobile support
	min-width $item-width
	max-width $max-container-width
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) // And fix for IE10+
		height 100%

.item-wrapper
	flex-basis ($item-width + $gutter) // Add gutter between packets for prevent visual sticking
	&:nth-child(2)
		order $order[0]
	&:nth-child(3)
		order $order[1]
	&:nth-child(4)
		order $order[2]

.text-center
	text-align center

.header
	width 100%

.page-title
	font-size 36px
	font-weight normal
	font-family "exo_2.0thin"
	color white
	text-shadow 1px 1px 0 #000, -1px 1px 0 #000, 0 1px 0 #000
	margin-top 0px
	margin-bottom 17px
	cursor default

// Item
.item
	width $item-width
	height 512px
	margin-left auto
	margin-right auto
	margin-bottom 30px
	position relative
	pointer-events none

	// Content block
	.item-content
		height 480px
		cursor pointer
		&:after
			content ""
			background transparent url(../images/koteg.jpg) no-repeat 4px 208px
			position absolute
			left 0
			top 0
			right 0
			bottom 0
			z-index -1

	// Background and border
	.item-bg, .item-border
		position absolute
		top 0
		left 0
	.item-bg
		z-index -1
	path.bg
		fill $bg
	path.border
		pointer-events auto
		fill $default-color
		cursor pointer
	path.transparent
		fill rgba(255,255,255, 0)
		pointer-events auto
		cursor pointer

	// Item content
	.item-text
		padding-top 19px
		margin-left 46px
		.slogan
			color $default-text-color
			font-size 16px
			.default
				display block
			.selected.hover
				display none
		.title
			font-size 48px
			font-weight bold
			margin-top -4px
		.subtitle
			font-size 24px
			font-weight bold
			margin-top -11px
		.portions
			color $default-text-color
			margin-top 10px
		.gift, .additional
			color $default-text-color
			margin-top -4px


	// Weight
	.item-weight
		position absolute
		width 80px
		height 80px
		border-radius 50%
		background-color $default-color
		text-align center
		color white
		top 385px
		left 225px
		.item-weight-value
			font-size 43px
		.item-weight-dim
			font-size 21px
			margin-top -16px

	// Bottom line
	.item-bottom-text
		pointer-events auto
		margin-top 11px
		margin-right 4px
		font-size 13px
		color #fff
		text-shadow 1px 1px 0 #000, -1px 1px 0 #000, 0 1px 0 #000
		cursor default
		.buynow
			color $default-color
			display inline-block
			text-decoration none
			.link-border
				border-bottom 1px dashed $default-color
				margin-bottom -1px
			&:hover
				text-decoration none
		.default
			display block
		.selected
			display none
		.disabled
			display none

	// Item hover
	&:hover
		path.border
			fill $default-hover-color
		.item-weight
			background $default-hover-color
		.item-bottom-text .buynow
			color $default-hover-color
			.link-border
				border-bottom-color $default-hover-color

	// Selected
	&.selected
		path.border
			fill $selected-color
		.item-weight
			background $selected-color
		.item-bottom-text
			.default
				display none
			.selected
				display block
			.buynow
				color $selected-color
		&.hover-ready:hover
			path.border
				fill $selected-hover-color
			.slogan
				.default
					display none
				.selected
					color $selected-hover-color
					display block
			.item-weight
				background $selected-hover-color
			.item-bottom-text .buynow
				color $selected-hover-color

	// Disabled
	&.disabled
		.item-content
			color $disabled-color
			&:after,
			.item-text
				opacity 0.5
		path
			cursor default
		path.border
			fill $disabled-color
		.item-weight
			background $disabled-color
		.item-bottom-text
			color $disabled-bottom-color